


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

body{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.main{
    display: flex;
    
}
.mainn{
    display: flex;
}

.inner-right-parent{
    display: flex;
}

img{
    width: 200px;
    

}

.imgtop{
    margin-left: 32%;
}



table {
    border-collapse: collapse;
}
table, 
th, 
td {
    border: 1px solid black;
}
th, 
td {
    padding: 1px;
}